@charset "UTF-8";
/* CSS Document */

/* word-wrap: break-word; 
for breaking long urls */

@import url("../fonts/icons/style.css");

@font-face {font-family: 'SoinSansPro-Roman';src: url('../fonts/2A5729_3_0.eot');src: url('../fonts/2A5729_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A5729_3_0.woff') format('woff'),url('../fonts/2A5729_3_0.ttf') format('truetype'),url('../fonts/2A5729_3_0.svg#wf') format('svg');}

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #eae6df;
}

	.icon {
		
	}
	

	label, input {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		
	}
	button { 
		background-color: rgba(25,188,185,1.0);
		height: 32px;
		width: 32px;
		font-size: 20px;
		border: none; 
	}
	
	input[type=button], input[type=submit] {
		font-family: 'Roboto', sans-serif;
	}

	.header {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 20px;
		margin: 0;
		z-index: 100;
	}
		.shadow {  
			box-shadow: 0 4px 10px -2px gray; 
			/* border-bottom: 1px solid gray; */
		}  
	
		header h1 {
			color: #FF6E06;
			margin: 0;
			display: inline-block;
		}
			header h1 img {
				height: 25%;
				width: 25%;
			}
			header h2 {
				color: #FF6E06;
				margin: 0;
			}
			#searchBox {
				
			}
	
	main {
		margin-top: 100px;
		padding: 50px;
	}
		.clientName {
				background-color: #f26532;
				/* border: 1px solid #f26532; */
				border-bottom: 1px solid #eae6df;
				padding: 15px 10px 5px 10px;
				margin: 0 auto;
				font-family: 'SoinSansPro-Roman';
				text-transform: uppercase;
			}
				.clientName h1 {
					margin: 0;
					color: #FFF;
					font-size: 30px;
				}
				
		.clientInfo {
			background-color: #fff;
			display: none;
			/* border-right: 1px solid #f26532;
			border-bottom: 1px solid #f26532;
			border-left: 1px solid #f26532; */
			margin: 0 auto;
			padding: 15px 10px 5px 10px;
			color: #555;
		}
			.clientEntry {
				border-bottom: 1px dashed #bfb7ae;
				padding: 0px 20px 20px 20px;
			}


			input {
				box-sizing: border-box;
				display: inline-block;
				width: 345px;
				height: 30px;
				font-size: 16px;
			}
			label {
				display: inline-block;
				color: #003745;
				margin-top: 15px;
				width: 100px;
				text-align: right;
			}
				
			.addNew {
				background-color: #8cbc19;
				padding: 10px;
				border-radius: 5px;
				width: 115px;
				border: 1px solid #555;
			}
				.addNewInfo {
					display: none;
				}
		
		.newClientName {
			/* background-color: #8cbc19; */
			background-color: rgba(25,188,185,1.0);
			/* border: 1px solid #8cbc19; */
			border-bottom: 1px solid #eae6df;
			padding: 15px 10px 5px 10px;
			margin: 0 auto;
			font-family: 'SoinSansPro-Roman';
			text-transform: uppercase;
		}
				.newClientName h1 {
					margin: 0;
					color: #003745;
					font-size: 30px;
				}
				
		.newClientInfo {
			background-color: #fff;
			display: none;
			/* border-right: 1px solid #8cbc19;
			border-bottom: 1px solid #8cbc19;
			border-left: 1px solid #8cbc19; */
			margin: 0 auto;
			padding: 15px 10px 5px 10px;
			color: #555;
		}
		