@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 2000px;
	background-color: #eae6df;
}

	.header {
		position: fixed;
		top: 0;
		height: 100px;
		width: 100%;
		background-color: #eae6df;
		padding: 20px;
		margin: 0;
		z-index: 100;
		color: #eae6df;
	}
		.shadow {  
			box-shadow: 0 4px 10px -2px gray; 
		}  
	
		header h1 {
			color: #FF6E06;
			margin: 0;
			display: inline-block;
		}
			
			header h2 {
				color: #FF6E06;
				margin: 0;
			}
			#searchBox {
				
			}
	
	main {
		margin-top: 125px;
		padding: 50px;
	}
		.clientName {
				background-color: #f26532;
				border: 1px solid #f26532;
				padding: 10px;
				width: 960px;
				margin: 0 auto;
			}
				.clientName h1 {
					margin: 0;
					color: #FFF;
				}
				
		.clientInfo {
			background-color: #f6f2ec;
			display: none;
			width: 960px;
			border-right: 1px solid #f26532;
			border-bottom: 1px solid #f26532;
			border-left: 1px solid #f26532;
			margin: 0 auto;
			padding: 10px;
			color: #555;
		}
		
		.newClientName {
			background-color: #8cbc19;
			border: 1px solid #8cbc19;
			padding: 10px;
			width: 960px;
			margin: 0 auto;
		}
				.newClientName h1 {
					margin: 0;
					color: #FFF;
				}
				
		.newClientInfo {
			background-color: #f6f2ec;
			display: none;
			width: 960px;
			border-right: 1px solid #8cbc19;
			border-bottom: 1px solid #8cbc19;
			border-left: 1px solid #8cbc19;
			margin: 0 auto;
			padding: 10px;
			color: #555;
		}
		